.App {
  margin-top: 20px;
  text-align: center;
  font-family: "Pokemon", monospace;
}

/* new */
body{
  background-color: #696969;
}
.App .navbar-brand{
  font-weight: bold;
  font-size: 200%;
  color: #ffd631;
}
.app-nav-bar {
  background-color: #3c5aa6;
  border-radius: 10px 40px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffd631;
}

