.App {
  margin-top: 20px;
  text-align: center;
  font-family: "Pokemon", monospace;

  /* position: absolute; */
  /* width: 90vh auto;
  height: 90vh; */
  align-self: center;
}

/* new */
body{
  background-color: #696969;
}
.App .navbar-brand{
  font-weight: bold;
  font-size: 169%;
  color: #ffd631;
}
.app-nav-bar {
  background-color: #3c5aa6;
  border-radius: 10px 40px;
  border-style: double;
  border-width: 15px;
  border-color: #ffd631;
}

